name: Coverage Check

on: [push, pull_request]

jobs:
  coverage:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install test tools
      run: |
        pip install hypothesis
        pip install pytest
        pip install pytest-cov

    - name: Install package
      run: pip install -e .

    - name: Run tests with coverage check (minimum 95%)
      run: pytest --cov=userprovided --cov-fail-under=95 tests/
