# This workflow runs Unit-Tests for userprovided on MacOS
# with the two latest python versions.
# Flake8 and mypy will be run with the Ubuntu Workflow.
# There is no need to repeat this here.
name: MacOS Test

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install test tools
      run: |
        pip install hypothesis
        pip install pytest
        pip install flake8

    - name: Run Pytest
      run: pytest tests/
