 # The code has type annotations. Enforce correctness of those.

name: Mypy (type checking)

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies and Mypy
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install mypy

    - name: Check code with Mypy
      run: mypy userprovided/
